<p style="text-indent: 25px;">This is the standard documentation that ships with your Aussom runtime
and is mostly generated from the .aus source files. If you're new to Aussom
or just want to see high level information about the language see the
language guide below.</p>
<a href="aussom.html">Aussom Language Guide</a><br>
<br>
<p style="text-indent: 25px;">For specific docs see the list below by module file. Please let us know if
you're looking for something you can't find here, and we'll add it.</p>
<br>
