<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aussom Docs - {{title}}</title>
        <link rel="stylesheet" href="{{dirpath}}skeleton.css" type="text/css">
		<link rel="stylesheet" href="{{dirpath}}style.css" type="text/css" media="screen" title="Stylesheet" />
	</head>
	<body>
		<div class="logobar">
			<a href="{{dirpath}}index.html" title="Home Page"><img src="{{dirpath}}logo.png" class="logo" /></a>
		</div>
		<div id="page" class="container">
			{{{content}}}
		</div>
	</body>
</html>