html, body {
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    margin: 0px;
}

a {
    font-weight: bold;
}

.logobar {
    width: 100%;
    background-color: #fe0000;
}

.logo {
    height: 60px;
}

.pageTitle {
    font-weight: bold;
}

.container {
    min-height: 90%;
    background-color: #ffffff;
    padding: 20px;
}

pre {
    background-color: #efefef;
    padding: 10px;
}

.titleBox {
    clear: both;
}

.leftcol {
    width: 30%;
    height: 65%;
    float: left;
}

.centercol {
    width: 40%;
    height: 65%;
    float: left;
}

.rightcol {
    width: 30%;
    height: 65%;
    float:left;
}

.logarea {
    width: 100%;
    height: 20%;
    clear: both;
}

.inputTextArea {
    width: 90% !important;
    height: 95% !important;
    vertical-align: top !important;
    font:.8em/1.2 "Roboto Mono",monospace
}

.codeTextArea {
    width: calc(90% - 50px) !important;
    height: 95% !important;
    vertical-align: top !important;
    font:.8em/1.2 "Roboto Mono",monospace
}

.outputTextArea {
    width: 90% !important;
    height: 95% !important;
    vertical-align: top !important;
    font:.8em/1.2 "Roboto Mono",monospace;
}

.logTextArea {
    width: 100%;
    height: 100%;
    font:.8em/1.2 "Roboto Mono",monospace
}

.description {
    clear: both;
    margin-top: 20px;
}

